body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

i {
    color: rgba(12, 12, 12, 0.911);
}

th {
    text-align: center;
    background-color: rgb(4, 44, 19);
    color: rgba(255, 255, 255, 0.884);
}

td {
    text-align: center;
}

form {
    background-color: rgba(192, 192, 192, 0.26);
}

.parallax-container {
    height: 250px;
}

.parallax-container .parallax img {
    display: block;
}

.page-footer {
    background-color: rgb(4, 44, 19);
}

.input-field .prefix {
    font-size: 4rem;
}

.input-field .prefix~input,
.input-field .prefix~textarea,
.input-field .prefix~label,
.input-field .prefix~.validate~label,
.input-field .prefix~.autocomplete-content {
    margin-left: 4rem;
    width: 92%;
    width: calc(100% - 7rem);
}

.input-field .prefix~label {
    margin-left: 4rem;
}